body{
	background-image: url(img/about.jpg);
	background-size: cover;
	background-position: center;
	height: 120vh;}

.main-nav 
{
	float: center;
	list-style: none;
	margin-top: 30px;
	margin-left: 40px;
}

.main-nav li 
{
	display: inline-block;
}

.main-nav li a 
{
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	font-family: "anton" ;
	font-size: 20px; 
}
.main-nav li.active a 
{
	border:1px black;
}
.main-nav li a:hover 
{
	border:1px black;
}

p{
	color: white;
	text-align: center;
margin-left: 10%;
margin-right: 50%; 
}

h1 {
	color: white;
	font-size: 23px;
	margin-left: 10%;
margin-right: 50%;
}

h2 {
	color: white;
font-size: 23px;
margin-left: 10%;
margin-right: 50%;
}
